{
  "Dhcp4": {
    "interfaces-config": {
      "interfaces": [ "*" ]
    },
    "lease-database": {
      "type": "memfile"
    },
    "subnet4": [
      {
        "id": 1,
        "subnet": "{{ network_id }}.0/24",
        "pools": [
          { "pool": "{{ network_id }}.110 - {{ network_id }}.150" }
        ],
        "option-data": [
          { "name": "routers", "data": "{{ router_ip }}" },
          { "name": "domain-name-servers", "data": "{{ server_ip }}" },
          { "name": "domain-name", "data": "{{ domain_name }}" }
        ]
      }
    ]
  }
}
