- name: Install AD-Domain-Services
  ansible.windows.win_feature:
    name: AD-Domain-Services
    include_management_tools: yes

- name: Promote Forest Root
  microsoft.ad.domain:
    dns_domain_name: "{{ domain_name }}"
    safe_mode_password: "{{ safe_mode_password }}"
    domain_netbios_name: "{{ netbios_name }}"
  register: promotion_result

- name: Reboot if required
  ansible.windows.win_reboot:
  when: promotion_result.reboot_required
